/* ###########  Defaults ############ */
html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Handlee', cursive;
    font-size: 13pt;
    background-color: #efefef;
    padding: 10px;
    margin: 0;
}
h1 {
    font-size: 15pt;
    color: #20bcd5;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
h1 span {
    border: 4px dashed #20bcd5;
    padding: 10px;
}

.quote {
    font-size: 12pt;
    text-align: right;
    margin-top: 10px;
}

header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}

header h1{
    width:90%;
    Border: 5px dotted #27a5df;
    color: #27a5df;
    text-align:center;
    border-radius:5px;
    font-size: xx-large;
}

.section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

hr {
    border: 0;
    height: 1px;
    background: #f36f48;
}

h1{
    font-size: xx-large;
}

img {vertical-align: middle;}

.imgPosition{
    text-align: center;
}

/* ###########  Nav bar ############ */
nav{
    width: 100%;
    margin: 0;
    padding: 0;
}

nav ul{
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li{
    list-style: none;
    float: left;
    margin-bottom: 0;
}

ul.topnav li.topnav-right{
    float: right;
}

ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #666;
}

ul.topnav li a:hover{
    background-color: #0080ff;
    color: #fff;
}

ul.topnav li.dropdownIcon{
    display: none;
}